[pull]
	rebase = true
[credential "https://github.com"]
	username = Zion-support
	useHttpPath = true
	password = 8631940599:***
[user]
	name = Zion AI Agent
	email = ai@ziontechgroup.com
[credential]
	helper = osxkeychain
