[build]
  command = "npm ci && npm install react@18.3.1 react-dom@18.3.1 && npm run build"
  publish = "out"
  functions = "netlify/functions"

[build.environment]
  NODE_OPTIONS = "--max-old-space-size=6144 --openssl-legacy-provider"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[plugins]]
  package = "netlify-plugin-cloudinary"