<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>165E5E30-0969-2D78-02BB-1B131D49F862</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
