<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cause</key>
		<string>assetsd detected a Photo Library rebuild</string>
		<key>date</key>
		<date>2026-07-29T02:04:12Z</date>
		<key>endDate</key>
		<date>2026-07-29T02:07:31Z</date>
		<key>type</key>
		<string>soft</string>
		<key>uuid</key>
		<string>AB98BD41-48BE-4E13-B7B2-69FFD75516DF</string>
	</dict>
</array>
</plist>
