<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>F632A2E8-64B8-8FAD-FC5A-5F4B20210272</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
