name: Release Drafter

on:
  push:
    branches:
      - main
  workflow_dispatch:


concurrency:
  group: "github.workflow-${{ github.ref }}"
  cancel-in-progress: true


jobs:

  update_release_draft:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}